*{
    font-family: sans-serif;
    color: white;
}


.body-fond{
    background-image: url("../media/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.container{

    display: grid;
    grid-template-areas: 
        'menu menu'
        'contenido contenido';
    grid-template-columns: 50% 50%; /* indican el espaciado de las columnas */
    grid-template-rows: 13% 80%;
    grid-gap: 15px; /* Espacio entre las celdas */
  
}

.logo{
    /*centra el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%; /* espaciado del contenido dentro de la caja */

}
.logo img{
    width: 30px;

}

.menu{

    /* alineo el contenido del menu a la izquierda*/
    display: flex;
    flex-direction: column;
    align-items: end; /* alineado contenido al final*/
    justify-content: center; /* centrado en el eje vertical*/

    padding-right: 6%; /* Espacio de separación del lado izquiedo*/
}

header{
grid-area: menu;
display: flex;
justify-content: space-between;

}

.contenido{
    grid-area: contenido;
}

.centrar_c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}